@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import 'dashboard';
@import 'dash-landing';
@import 'index-dash';
@import 'show-dash';
@import 'homepage';
@import "/node_modules/@fortawesome/fontawesome-free/css/all.css";

.logo-config{
    // height: 60px;
}




// LOG IN 
.passwd-wrap{
    position: relative; 
}

#showPassword, #showPassword2{
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    cursor: pointer;
    width: 1.5rem;
    display: flex;
    align-items: center;

}

#showPassword:focus{
    border: none;
}

#showPassword2:focus{
    border: none;
}

