@import '~bootstrap/scss/bootstrap';

.logo-config{
    height: 60px;
}

$base-yellow: #ffc300 ;
$base-blue: #1166ef;
$hover-blue: #a6c6f9;
$base-white: #fff;
$base-light: #eeeeee;
$base-dark: #c9c9c9;
$base-black: #111111;

