
//wrapper è la classe che gestisce il contenitore della sezione dasboard. 
//nota bene, eventuali altezze fisse potrebbero causare problemi.
.wrapper{
    height: calc(100vh - 82px);
    .side-bar{
        width: 300px;
        height: 100%;
        background: $base-black;
        ul{
            width:100%;
            margin-left: 25px;
        }
        a{
            text-decoration: none;
            color: #fff;
            font-size: 1rem;
            transition: 0.2s;
            &:hover{
                font-weight: 600;
            }
        }
        .bottom-menu{
            width: 100%;
            margin-left: 25px;
            .img-box{
                height: 50px;
                width: 50px;
                img{
                    width: 100%;
                    object-fit: contain;
                    border-radius: 50%;
                    background-color: black;
                }
            }
            span{
                color: $base-blue;
                font-size: 1.2rem;
            }
        }
    }
    .logout{
        color: $base-yellow !important;
        font-size: 1.5rem !important;
    }
    .dash-content{
        width: calc(100vw - 300px);
        overflow-y: scroll;
    }

    .userNameSidebar{
        color: $base-blue;
        font-size: 1.5rem;
    }

    .initials-avatar {
        width: 50px;
        height: 50px;
        background: rgb(189, 189, 189);
        color: $base-blue; 
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%; /* Rende l'avatar circolare */
        text-transform: uppercase; /* Trasforma il testo in maiuscolo */
    }
}
