
//wrapper è la classe che gestisce il contenitore della sezione dasboard. 
//nota bene, eventuali altezze fisse potrebbero causare problemi.
.wrapper{
    height: calc(100vh - 82px);
    .side-bar{
        width: 300px;
        height: 100%;
        background: #242526;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        ul{
            width:100%;
        }
        a{
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
        }
        .bottom-menu{
            width: 100%;
            .img-box{
                height: 50px;
                width: 50px;
                img{
                    width: 100%;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }
        }
    }
    .logout{
        color: $base-yellow !important;
        font-size: 1.5rem !important;
    }
    .dash-content{
        width: calc(100vw - 300px);
        overflow-y: scroll;
    }

    .userNameSidebar{
        color: white;
        font-size: 1rem;
    }

    .initials-avatar {
        width: 50px;
        height: 50px;
        background: $base-blue;
        color: white; 
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15%; /* Rende l'avatar circolare */
        text-transform: uppercase; /* Trasforma il testo in maiuscolo */
    }

    .side-cont-alwayson{
        background-color: #3A3B3C;
        border-radius: 15px;
    }

    .side-cont{
        &:hover{
            transition: 0.8s;
            background-color: #3A3B3C;
            border-radius: 15px;
        }
    }
}
