
card-body{
    .info-cont{
        min-width: 400px;
        p{
            font-size: 12pt;
        }
    }
    .p-relative{
        position: relative;
    }
    .details{
        width: 150px;
    }
}
.border-wow{
    border: 4px solid transparent;
    border-image: linear-gradient(114deg,rgb(38, 38, 159) 4%, rgba(128,234,255,1) 92%) 1;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.415);
}
.text-adv{
    color: linear-gradient(114deg,rgb(38, 38, 159) 4%, rgba(128,234,255,1) 92%) 1;
}


.sponsored-card {
    border: 10px solid yellow;
}

.border-wow-custom{
    padding: 0 2.5% 2.5% 2.5%;
    width: 75%;
    margin: 50px auto;
    border: 10px solid transparent;
    border-image: linear-gradient(114deg,rgb(38, 38, 159) 4%, rgba(128,234,255,1) 92%) 1;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.415);
    h3{
        font-size: 2rem;
    }
    img{
        width: 100%;
        border-radius: 10px;
    }
}

//queeries
@media(min-width:768px){
    .buttons-cards{
        position: absolute;
        height: 40px;
        right: 10px;
        bottom: 0;
    }
    .img-box{
        width: 150px;
    }
}
