
.card-body{
    .info-cont{
        min-width: 400px;
        p{
            font-size: 12pt;
        }
    }
    .p-relative{
        position: relative;
    }
    .details{
        width: 150px;
    }
}


.sponsored-card {
    border: 10px solid yellow;
}

//queeries
@media(min-width:768px){
    .buttons-cards{
        position: absolute;
        height: 40px;
        right: 10px;
        bottom: 0;
    }
    img{
        width: 150px;
    }
}