.back-bt{
    a{
        text-decoration: none;
    }
    span{
        margin-bottom: 16px;
    }
}

.bg-white{
    span{
        color: $base-blue;
        font-size: 14pt;
    }
    .img-head{
        img{
            width: 100%;
            height: 300px;
        }
    }
}

@media(min-width:996px){
    .img-head{
        justify-content: end;
        img{
            width: 350px;
            height: 207px;
        }
    }
}
